table, td, th {
    border: 1px solid black;
}

td, th {
    padding: 5px;
    border-radius: 6px;
    text-align: center;
}

table{
    background-color: azure;
    border-spacing: 2px;
    
}

div{
    background-color: blueviolet;
    width: 250px;
    height: 300px;
    padding: 20px;
}

#Luisa {
    background-color:rgb(86, 208, 238);
}

.jiret{
    color: rgb(20, 19, 20);
    background-color: rgb(177, 78, 132);
}